---
import { getAllPromotions } from "../lib/api";
import { urlForImage } from "../lib/urlForImage";
const { href, title, body, image } = Astro.props;
const promotion = await getAllPromotions();
import arrow from "../images/arrowRight.svg";
import { Image } from "astro:assets";
const accentLight = "rgba(255, 255, 255, 0.3)";
const accentGradient = "rgb(255, 255, 255)";

const getCardHref = (promotion = {}) => {
  const normalizedTitle = String(promotion?.title || "").toLowerCase();

  if (normalizedTitle.includes("kitchen")) {
    return "/projects/kitchens/";
  }

  if (normalizedTitle.includes("wardrobe")) {
    return "/projects/wardrobes/";
  }

  if (normalizedTitle.includes("built")) {
    return "/projects/built-ins/";
  }

  const promotionSlug = promotion?.slug?.current;
  return promotionSlug ? `/projects/${promotionSlug}/` : "/gallery/";
};
---

<ul class="card-container">
  {
    promotion.map((promotion) => {
      const cardHref = getCardHref(promotion);

      return (
        <li class="link-card">
          <a href={cardHref} class="card-link">
            <Image
              src={urlForImage(promotion.mainImage).url()}
              alt="home-project-image"
              width={500}
              height={300}
              format="webp"
              quality={100}
              class="card-img"
            />

            <span class="card-link-label">
              {promotion.title}

              <svg
              class='arrow-right'
                width="161"
                height="10"
                viewBox="0 0 161 10"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1 1H160C158.167 1.16667 154.3 2.9 153.5 8.5"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
          </a>
        </li>
      );
    })
  }
</ul>

<style define:vars={{ accentGradient, accentLight }}>
  .card-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style: none;
  }


  .link-card {
    list-style: none;
    display: flex;
    flex-flow: column;
    margin: 2rem;
    min-width: 25rem;
    height: auto;
    padding: 1rem;
    background-color: transparent;
    background-image: none;
    background-size: 150%;
    border-radius: 0px;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: none;
  }

  @media screen and (max-width: 500px) {
    .link-card {
      min-width: 10rem;
    }
  }
  .card-link {
    display: flex;
    flex-flow: column;
    gap: 0;
    color: white;
    width: 100%;
    text-decoration: none;
  }

  .card-link-label {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 1.4;
    padding: calc(1.5rem - 1px);
    color: white;
  }

  .arrow-right {
    color: white;
    text-decoration: none;
  }

  .card-img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
  }
  h2 {
    margin: 0;
    font-size: 1.25rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
  .link-card:is(:hover, :focus-within) {
    background-position: 0;
    background-image: var(--accentGradient);
  }
  .link-card:is(:hover, :focus-within) h2 {
    color: rgb(var(--accentLight));
  }

  /* large-monitor and desktop */
  @media screen and (min-wdith: 12000px) {
  }

  /* mobile  */
  @media screen and (max-width: 400px) {
  }
</style>
